<div class="ui attached segment">
<form class="ui form" name="aboutYouForm" novalidate ng-submit="aboutYouForm.$valid && moveToNextStep('signup.company', aboutYouForm)">
  <h4 class="ui dividing header">Information about you</h4>
  <div class="field">
    <label>Forename</label>
    <div class="two fields">
      <div class="field" ng-class="{'error': signupForm.forename.$invalid && signupForm.forename.$dirty}">
        <input type="text" required ng-model="company.admins[0].forename" name="forname" placeholder="Forename...">
      </div>
      <div class="field" ng-class="{'error': signupForm.surname.$invalid && signupForm.surname.$dirty}">
        <input type="text" required ng-model="company.admins[0].surname" name="surname" placeholder="Surname...">
      </div>
    </div>
  </div>  
    <div class="field">
    <label>Password</label>
    <div class="two fields">
      <div class="field" ng-class="{'error': signupForm.password.$invalid && signupForm.password.$dirty}">
        <input type="password" required ng-model="company.admins[0].password" name="password" placeholder="Password...">
      </div>
      <div class="field" ng-class="{'error': signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty || company.admins[0].confirmPassword!=company.admins[0].password}">
        <input type="password" required ng-model="company.admins[0].confirmPassword" name="confirmPassword" placeholder="Confirm password...">
      </div>
    </div>
  </div> 

  
  

  

  <input type="submit" value="Next" class="ui button">
</form>
</div>

